= form_with(model: event, local: true, multiple: true) do |form|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label 'name *'
    = form.text_field :name, class: 'form-control'
  .form-group  
    = form.label 'Start at *'
    = form.datetime_field :start_at, class: 'form-control'
  .form-group  
    = form.label 'End at *'
    = form.datetime_field :end_at, class: 'form-control'
  .form-group  
    = form.label :description
    = form.text_area :description, class: 'form-control'
  .form-group  
    = form.label 'Location *'
    = select("event", "location_id", current_user.locations.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: "form-control")  
  .form-group  
    = form.label :images
    = form.file_field :images, multiple: true, class: 'form-control'
  .actions
    = form.submit