= form_with(model: location, local: true) do |form|
  - if @location.errors.any?
    #error_explanation
      %h2
        = pluralize(@location.errors.count, "error")
        prohibited this location from being saved:
      %ul
        - @location.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label 'Name *'
    = form.text_field :name, class: 'form-control'        
  .form-group
    = form.label :lat
    = form.text_field :lat, class: 'form-control'
  .form-group
    = form.label :lng
    = form.text_field :lng, class: 'form-control'
  .form-group
    = form.label 'Country *'
    = form.text_field :country, class: 'form-control'
  .form-group
    = form.label 'State *'
    = form.text_field :state, class: 'form-control'
  .form-group
    = form.label 'State *'
    = form.text_field :city, class: 'form-control'
  .form-group
    = form.label 'Zipcode *'
    = form.text_field :zipcode, class: 'form-control'
  .form-group
    = form.label 'Address Line 1 *'
    = form.text_field :address_line_1, class: 'form-control'
  .form-group
    = form.label :address_line_2
    = form.text_field :address_line_2, class: 'form-control'
  .form-group  
    = form.label :images
    = form.file_field :images, multiple: true, class: 'form-control'        
  .actions
    = form.submit