= link_to 'Edit', edit_location_path(@location), class: "btn btn-primary float-right"
= link_to 'Back', user_locations_path(current_user), class: "btn btn-success"

%p
  %strong Name:
  = @location.name
%p
  %strong Lat:
  = @location.lat
%p
  %strong Lng:
  = @location.lng
%p
  %strong Country:
  = @location.country  
%p
  %strong State:
  = @location.state
- @location.images.each do |img|
  %p
    = image_tag img  
.d-flex.justify-content-between.align-items-center
  = render partial: 'shared/like_unlike', locals: { obj: @location }
%h4 Comments
%ul.list-group
  = render @location.comments
= render partial: "comments/form", locals: {commentable: @location}